<footer class="footer">
          <div class="container container_foo">
<p class="copyright"><b>&#169;2025</b> | All Rights Reserved |
   Developed by <b>Igor Yurovsky</b>  with big love for</p>
                    
                <div class="icon_box position">
                    <!-- <<svg class="icon_js" aria-hidden="true" width="32" height="32">> -->
                        <img class="icon_js" src="/img/javascript.png" alt="JavaScript">
                        <!-- <use href="../img/javascript.png"></use> -->
                    </svg>
                </div>
          </div>
</footer>
