<header class="header background">
     <div class="container container_box">
                                <div class="three_containers">
                                    <a href="#" class="logo_box"> 
                                    
                                        <img src="../img/film.png" title="film">
                                    
                                        <img src="../img/filmoteka.png" class="img_padding_left" title="filmoteka">
                                    
                                    </a>
                                </div>

      <div class="three_containers">
                    <form class="form js_form">
                            <label>
                                <input type="text" name="search" class="input_text" placeholder="Search movie...">
                            </label>
                                <button class="magnifying_glass" type="submit">
                                    
                                <img class="icon" src="../img/search04.png" title="magnifying_glass">
                                    
                                </button>
                    </form>
      </div>

                                            <div class="three_containers button_right">
                                                <a href="./index.html" class="home two_href">HOME</a>
                                                <a href="#" class="two_href">MY LIBRARY</a>
                                            </div>

    </div>
</header>
