<header class="header background_lib">
     <div class="container container_head_lib">
                                <div class="three_containers_lib">
                                    <a href="./index.html" class="logo_box"> 
                                    
                <img src="/img/film.png" alt="film">
            
                <img src="/img/filmoteka.png" class="img_padding_left" alt="filmoteka">
                                    
                                    </a>
                                </div>

      <div class="three_containers_lib ">

           
                    <div class="form_lib">
        <a href="./library.html" class="button_lib button_watched_js">WATCHED</a>
        <a href="./queue.html" class="button_lib button_queue_js">QUEUE</a>                   
                    </div>
            
        
      </div>

                                            <div class="three_containers_lib button_right">
                                                <ul>
                                <li><a href="./index.html" class="two_href">HOME</a></li>
                                <li><a href="./library.html" class="two_href library">MY LIBRARY</a></li> 
                                                </ul>
                                            </div>

   
    </div>

     <div class="container">
        <div class="switch_box">
        <div class="switch">
            <input type="checkbox">
        </div>
        </div>
    </div>


</header>
