<header class="header background">
     <div class="container container_head con_dark con_light">

        
                                <div class="three_containers">
                                    <a href="./index.html" class="logo_box"> 
                                    
                <img src="/img/film.png" alt="film">
            
                <img src="/img/filmoteka.png" class="img_padding_left" alt="filmoteka">
                                    
                                    </a>
                                </div>

                                <div class="three_containers">
            
            <form class="form js_form">
                    <label>
                        <input type="text" name="search" class="input_text input_dark input_light" placeholder="Search movie...">
                    </label>
                        <button class="magnifying_glass" type="submit">
                            
                        <img class="icon" src="/img/search04.png" alt="magnifying glass">
                            
                        </button>
            </form>

                                </div>

                                <div class="three_containers button_right">
                                        <ul>
                        <li><a href="./index.html" class="home two_href">HOME</a></li>
                        <li><a href="./library.html" class="two_href">MY LIBRARY</a></li> 
                                        </ul>
                                </div>

    
    </div>

    <div class="container">
        <div class="switch_box">
                <div class="switch">
                    <input type="checkbox" class="switch">
                </div>
        </div>
    </div>


</header>
