<header class="header background">
     <div class="container container_box">
                                <div class="three_containers">
                                    <a href="#" class="logo_box"> 
                                        <svg class="" aria-hidden="true" width="32" height="32">
                                            <use href="../img/film.svg"></use>
                                        </svg>

                                        <svg class="" aria-hidden="true" width="150" height="32">
                                            <use href="../img/Filmoteka.svg"></use>
                                        </svg>
                                    </a>
                                </div>

      <div class="three_containers">
                    <form class="form js_form">
                            <label>
                                <input type="text" name="search" class="input_text" placeholder="Search movie...">
                            </label>
                                <button class="magnifying_glass" type="submit">
                                    <svg class="icon" aria-hidden="true" width="32" height="32">
                                        <use href="../img/search.svg"></use>
                                    </svg>
                                </button>
                    </form>
      </div>

                                            <div class="three_containers button_right">
                                                <a href="./index.html" class="home">HOME</a>
                                                <a href="./library.html">MY LIBRARY</a>
                                            </div>

    </div>
</header>
