:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #cfcfcf;
  background-color: rgba(71, 66, 66, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{
  cursor: pointer;
}

body#index,
body#library,
body#queue{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  /* background-image: url('/img/deWater04.jpg'); */
  /* background-size: contain; */
  /* border: 5px dashed red; */
  background-repeat: repeat;

  
  /* background-repeat: repeat-x, repeat-y; */
  /* padding: 15px; */
}



/* .body_background{
    background-image: url("../img/sprite.png");
    background-repeat: repeat;
    background-position: left, right;
    background-repeat: repeat-x, repeat-y; 
   
} 
*/

/* main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */

/* 
      li.card:hover{
        box-sizing: border-box;
       
         border: 2px dashed gold; 
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .12), 0px 4px 4px rgba(0, 0, 0, .06), 1px 4px 6px rgba(0, 0, 0, .16);
        transform: scale(1.01);
        border: 3px solid  rgb(195, 194, 194);
      } */

@media only screen and (min-width: 320px) {
  ul.gallery{
  max-width: 287px;
  height: auto;
  margin-top: 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: stretch; */
  
  flex-wrap: wrap;
  margin-top: -18px;
  /* border: 3px solid maroon; */
}   
  li.card{
        box-sizing: border-box;
        border-radius: 5px;
        width: 280px;
        min-height: 443px;
        height: auto;
        margin: 9px;
        /* background-color: rgb(248, 8, 8); */
        /* border: 2px dashed gold; */
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .12), 0px 4px 4px rgba(0, 0, 0, .06), 1px 4px 6px rgba(0, 0, 0, .16);
        transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
        /* border: 3px solid rgb(195, 194, 194); */
  }
  img.img_of_card{
        box-sizing: border-box;
        border-radius: 3px;
        width: 280px;
        height: 402px;
        /* border: 3px solid rgb(250, 237, 54); */
      }
      h1.card_title{
 
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* or 120% */
text-transform: uppercase;
color: #000000;
}
h2.card_jenre{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
  color: #FF6B08;
}
div.card_box{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 5px 12px ;
}
      
}

@media only screen and (min-width: 768px) {
  ul.gallery{
  max-width:710px;
  /* border: 3px solid rgb(54, 181, 250); */
  height: auto;
  /* align-items: stretch; */
  }
  li.card{
        box-sizing: border-box;
        border-radius: 5px;
        width: 336px;
        min-height: 495px;
        height: auto;
        margin: 9px;
  }
     img.img_of_card{
        box-sizing: border-box;
        border-radius: 3px;
        width: 336px;
        height: 455px;
        /* border: 3px solid rgb(139, 250, 54); */
     
      }
      h1.card_title{
 


font-size: 12px;
line-height:14px;

}
h2.card_jenre{
  
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
  
}
div.card_box{
  
  padding: 5px 12px ;
}
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  ul.gallery{
  max-width: 1270px;
  min-height: 634px;
  height: auto;
  
  /* border: 3px solid rgb(139, 250, 54); */
  }
  li.card{ 
        border-radius: 5px;
        width: 394px;
        min-height: 634px;
        height: auto;
        margin: 8px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
  }
  img.img_of_card{
        box-sizing: border-box;
        border-radius: 3px;
        width: 394px;
        height: 574px;
      
} 
 h1.card_title{
 


font-size: 20px;
line-height: 24px;

}
h2.card_jenre{
  
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
  
}
div.card_box{
  
  padding: 5px 12px ;
}
}




