 body.dark {
  
  background-image: url('/img/deWater04.jpg');
  

  
  /* background-repeat: repeat-x, repeat-y; */
  /* padding: 15px; */
 }
 
.light{
  background-image: url('/img/deWater05.jpg');
  
} 

/* .con_dark{
  background-color: rgb(0, 0, 0);
} */
.con_light{
  background-color: rgb(176, 98, 98);

}
