 body.dark {
  background-image: url('/img/deWater04.jpg');
  background-repeat: repeat;
  }
 
body.light{
  background-image: url('/img/deWater05.jpg');
  background-repeat: repeat;
  } 

.con_dark{
  background-color: rgb(0, 0, 0);
  }
.con_light{
  background-color: rgb(142, 142, 142);
  }

.input_dark{
  background-color: rgb(74, 75, 74);
  }
.input_light{
  background-color: rgb(253, 253, 253);
  }

.card_dark{
  background-color: rgb(63, 245, 63);
  border: 3px solid  rgb(253, 48, 48);
    }
.card_light{
  background-color: rgb(194, 108, 23);
  border: 3px solid  rgb(48, 219, 253);
  }

li.card_dark:hover{
  box-sizing: border-box;
  transform: scale(1.01);
  border: 3px solid  rgb(255, 0, 0);
  }

li.card_light:hover{
  box-sizing: border-box;
  transform: scale(1.01);
  border: 3px solid rgb(48, 219, 253);
  }
