 body.dark {
  
  background-image: url('/img/deWater04.jpg');
  /* background-size: contain; */
  /* border: 5px dashed red; */
  background-repeat: repeat;
  

  
  /* background-repeat: repeat-x, repeat-y; */
  /* padding: 15px; */
 }
 
body.light{
  background-image: url('/img/deWater05.jpg');
   /* background-size: contain; */
  /* border: 5px dashed red; */
  background-repeat: repeat;
  
} 

.con_dark{
  background-color: rgb(0, 0, 0);
}
.con_light{
  background-color: rgb(142, 142, 142);

}

.input_dark{
  background-color: rgb(74, 75, 74);
}
.input_light{
  background-color: rgb(253, 253, 253);

}
