 body.dark {
  
  background-image: url('/img/deWater04.jpg');
  background-repeat: repeat;
  }
 
body.light{
  background-image: url('/img/deWater05.jpg');
  background-repeat: repeat;
  
} 

.con_dark{
  background-color: rgb(0, 0, 0);
}
.con_light{
  background-color: rgb(142, 142, 142);

}

.input_dark{
  background-color: rgb(74, 75, 74);
}
.input_light{
  background-color: rgb(253, 253, 253);
}

.card_dark{
  background-color: rgb(74, 75, 74);
}
.card_light{
  background-color: rgb(253, 253, 253);
}
