.footer {
  background-color: rgb(123, 123, 123);
  min-height: 30px;
  width: 100%;

}
.igor{
  background-color: rgb(102, 110, 110);
  line-height: 32px;
  font-size: 1.1em;
}

.icon_js{
  border-radius: 5px;
  border: 1px dashed orange;
  transform: scale(0.6);
}

.icon_scale{
  transform: scale(0.8);
  border: 1px dashed rgb(255, 0, 0);
}

