footer.footer {
  height: 49px;
  width: 100%;
  background-color: rgb(13, 13, 13);

}
.icon_box{
  height: 25px;
  width: 25px;
  padding: 0;
  /* border: 3px dashed red; */
}
p.copyright{
  /* background-color: rgb(102, 110, 110); */
  line-height: 35px;
  font-size: 1.1em;
  color: rgb(140, 140, 140);
}

.icon_js{
  border-radius: 5px;
  transform: scale(0.6);
}

.icon_scale{
  transform: scale(0.7);
}

