button.magnifying_glass{
    width: 35px;
    height: 35px;
    border: 2px dashed red;
    
    background-color: rgba(165, 60, 60, 0);
    position: relative;
    top: -5px;
    left: 282px;
}

.magnifying_glass .icon{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(234, 255, 0);
    
       
}

input.input_text{
    border: none;
    height: 30px;
    width: 320px;
    border-bottom: 2px solid rgb(255, 204, 0);
    background-color: rgb(85, 84, 84);
    font-size: 1.1em;
    position: absolute;
}
input.input_text:focus{
    
    background-color: rgb(85, 84, 84);
   
}