

.magnifying_glass .icon{
    margin-top: 5px;
    width: 26px;
    height: 26px;
    /* border: 1px solid rgb(136, 137, 123); */
 
}

input::placeholder {
  color: #bebebe; /* Sets the placeholder text color to red */
}



@media only screen and (min-width: 320px) {
    input.input_text{
    margin-top: 12px;
    border: none;
    height: 30px;
    width: 280px;
    border-bottom: 2px solid rgb(255, 204, 0);
    /* background-color: rgb(0, 0, 0); */
    font-size: 1.0em;
    position: absolute;
    padding-left: 10px;
    color: rgb(116, 115, 115);
}
input.input_text:focus{
    
    background-color: rgb(0, 0, 0);
   
}
button.magnifying_glass{
    width: auto;
    height: auto;
    border: 0;
    
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 7px;
    left: 257px;
}

}
@media only screen and (min-width: 768px) {
    input.input_text{
    margin-top: 12px;
    /* border: none; */
    height: 30px;
    width: 320px;
    left: -73px;
    top: -8px;
  
    font-size: 1.1em;
    /* position: absolute; */
    padding-left: 10px;
     border-bottom: 2px solid rgb(255, 204, 0);
    
}
button.magnifying_glass{
    width: auto;
    height: auto;
    border: 0;
    
    
    position: relative;
    top: 2px;
    left: 225px;
}

    
}