.header {
  box-sizing: border-box;
  padding: 38px 0;
  background-color: rgb(89, 4, 59);
  min-height: 215px;
  width: 100%;
}

.container_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.three_containers{
  /* border: 3px dashed rgb(162, 255, 23); */
  min-height: 50px;
  width: 30%;
}

.logo_box{
  /* border: 1px dashed gold; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.two_href{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.three_containers a.home{
  /* border-bottom: 3px solid #FF001B; */
  margin-right: 0px;
}

.three_containers a.home::after{
  /* border-bottom: 3px solid #FF001B; */
    /* margin-right: 27px; */
    position: relative;
    top: 11px;
    left: -34px;
    display: block;
    content: "";
    width: 36px;
    height: 3px;
    border-radius: 2px;
    background-color: #FF001B;
}



.background{
    background-image: url("/img/abstract-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 .button_right{
  display: flex;
  justify-content: end;
 }

 img.img_padding_left{
  padding-left: 20px;
 }
