.header {
  box-sizing: border-box;
  padding: 0px 0;
  background-color: rgb(89, 4, 59);
  min-height: 215px;
  width: 100%;
}

.button_right ul{
  display: flex;
  flex-direction: row;
}



.three_containers{
  min-height: 50px;
  width: 30%;
}

.logo_box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.two_href{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.three_containers a.home{
  margin-right: 70px;
}

.three_containers a.home::after{
    position: relative;
    top: 2px;
    left: -2px;
    display: block;
    content: "";
    width: 37px;
    height: 3px;
    border-radius: 2px;
    background-color: #FF001B;
}

.three_containers a.library{
    padding: 0 0 0 36px;
}

.three_containers a.library::after{
 
    position: relative;
    top: 2px;
    left: 34px;
    display: block;
    content: "";
    width: 69px;
    height: 3px;
    border-radius: 2px;
    background-color: #a6ff00;
    
}



.background{
    background-image: url("/img/back05.png");
    background-repeat: no-repeat;
    /* background-size: 30%; */
    /* background-position: cover; */

    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



 img.img_padding_left{
  padding-left: 20px;
 }



 @media only screen and (min-width: 320px) {
   .nothing{
  color:#fc021b;
  position: relative;
  width: 420px;
  top: 83px;
  left:-71px;
  font-size: 0.7em;
  visibility: hidden;
 
 }
  .three_containers{
    width: 19%;
  }
   .button_right{
  display: flex;
  justify-content: end;
  width: 144px;
  }
  .img_padding_left{
  visibility: hidden;
  }
    .container_head{
  box-sizing: border-box;
  height: 167px;
  padding: 25px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

form.form{
 position: relative;
 top: 87px;
 left: -73px;
}
                    /*320*/}

@media only screen and (min-width: 768px) {
   .nothing{
  font-size: 1em;
  top: 55px;
  left: -124px;
  width: 420px;
 }
     .img_padding_left{
      visibility: visible;
    }
    .container_head{
  
  height: 160px;
  padding: 35px 25px 10px 25px;
  justify-content: space-between;
 
}
form.form{
 
 top: 66px;
 left: -11px;
}
                    /*768*/}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .nothing{
 
  top: 35px;
  left: -157px;
  width: 420px;
 }
  form.form{

 top: 44px;
 left: -45px;
}
    .container_head{
  
  height: 140px;
  padding: 35px 25px 10px 25px;
  justify-content: space-between;
 
}
                  /*1280*/} 

.nothing_vis{
  visibility: visible;
} 

.tui_hidden{
  visibility: hidden;
} 
.hidden{
  visibility: hidden;
}   
