.header {
  box-sizing: border-box;
  padding: 0px 0;
  background-color: rgb(89, 4, 59);
  min-height: 215px;
  width: 100%;
}

.container_head{
  box-sizing: border-box;
  height: 120px;
  padding: 35px 25px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.button_right ul{
  display: flex;
  flex-direction: row;
}



.three_containers{
  /* border: 3px dashed rgb(162, 255, 23); */
  min-height: 50px;
  width: 30%;
}

.logo_box{
  /* border: 1px dashed gold; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.two_href{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.three_containers a.home{
  /* border-bottom: 3px solid #FF001B; */
  margin-right: 70px;
}

.three_containers a.home::after{
  /* border-bottom: 3px solid #FF001B; */
    /* margin-right: 27px; */
    position: relative;
    top: 2px;
    left: -2px;
    display: block;
    content: "";
    width: 37px;
    height: 3px;
    border-radius: 2px;
    background-color: #FF001B;
}

.three_containers a.library{
  /* border-bottom: 3px solid #FF001B; */
    /* margin-right: 27px; */
   
   
    padding: 0 0 0 36px;
}

.three_containers a.library::after{
 
   position: relative;
    top: 2px;
    left: 34px;
    display: block;
    content: "";
    width: 69px;
    height: 3px;
    border-radius: 2px;
    background-color: #FF001B;
    
}



.background{
    background-image: url("/img/back05.png");
    background-repeat: no-repeat;
    /* background-size: 30%; */
    /* background-position: cover; */

    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



 img.img_padding_left{
  padding-left: 20px;
 }

 @media only screen and (min-width: 320px) {
  .three_containers{
    width: 19%;
  }
   .button_right{
  display: flex;
  justify-content: end;
  width: 144px;
 }
    .img_padding_left{
      visibility: hidden;
    }
    .container_head{
  box-sizing: border-box;
  height: 180px;
  padding: 25px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

form.form{
 position: relative;
 top: 87px;
 left: -73px;
}
}

@media only screen and (min-width: 768px) {
     .img_padding_left{
      visibility: visible;
    }
    .container_head{
  
  height: 160px;
  padding: 35px 25px 10px 25px;
  justify-content: space-between;
 
}
form.form{
 
 top: 66px;
 left: -11px;
}
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  form.form{

 top: 44px;
 left: -45px;
}
    .container_head{
  
  height: 140px;
  padding: 35px 25px 10px 25px;
  justify-content: space-between;
 
}
} 
