.container_library{
    min-height: 800px;
    /* border: 3px dashed red; */
}

.background_lib{
    background-image: url("/img/back_lib.png");
    background-repeat: no-repeat;
    /* background-size: 30%; */
    /* background-position: cover; */

    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul.ul_library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

div.form_lib .other_color{
    background-color: rgb(114, 114, 114);
}