.loader {
    width: 35px;
    height: 35px;
    border: 7px solid #cac9c9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: -11px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .box{
        margin: 0 auto;
        padding: 0px;
        margin: 10px auto;
        width: 35px;
        height: 1px;
        /* visibility: visible; */
     }