
.backdrop{
    width: 100vw;
    height: 50vh;
    background-color: rgba(33, 55, 113, 0.411);
    position: fixed;
    top: 00px;
    left: 00px; 
    /* z-index: 50; */
    /* opacity: 0.8; */
    /* visibility: hidden; */
    /* border: 2px dashed red; */
}

.modal{
    width: 250px;
    height: 350px;
    background-color: rgb(110, 132, 185);
    position: fixed;
    top: 00px;
    left: 00px; 
    z-index: 999; 
    
}

li.visible .backdrop{
    visibility: visible;

}

.cross{
    cursor: pointer;
    z-index: 2000;

    top: 00px;
    left: 00px; 
    z-index: 999;

}
