/* body.show-modal .card .backdrop{
    opacity: 1;
    visibility: visible;
}

body.show-modal .card .backdrop{
    transform: scale(1);
} */

.backdrop{
    width: 20vw;
    height: 30vh;
    background-color: rgb(42, 75, 165);
    position: fixed;
    top: 00px;
    left: 00px; 
    z-index: 999;
    opacity: 0.5;
    visibility: hidden;
    border: 2px dashed red;
}

.modal{
    width: 250px;
    height: 350px;
    background-color: rgb(110, 132, 185);
    position: fixed;
    top: 00px;
    left: 00px; 
    /* visibility: visible; */
    /* opacity: 2.0;
     
    /* position: absolute; */
    z-index: 100; 
    
}

li.visible .backdrop{
    visibility: visible;

}

/* .hidden{
    visibility: hidden;

} */

.cross{
    cursor: pointer;
    z-index: 2000;

    top: 00px;
    left: 00px; 
    z-index: 999;

}

/* .border{
    border: 7px dashed rgb(255, 0, 0);
} */