
.backdrop{
    width: 100vw;
    height: 50vh;
    background-color: rgba(33, 55, 113, 0.411);
    position: fixed;
    top: 00px;
    left: 00px; 
    /* z-index: 50; */
    /* opacity: 0.8; */
    /* visibility: hidden; */
    /* border: 2px dashed red; */
}

div.modal{
    box-sizing: border-box;
    width: 806px;
    height: 558px;
    padding: 37px 10px 37px 18px;
    background-color: rgb(254, 254, 254);
    position: fixed;
    top: 00px;
    left: 00px; 
    z-index: 999; 

    display: flex;
    flex-direction: row;
    
}

/* li.visible .backdrop{
    visibility: visible;

} */

div.cross{
    cursor: pointer;
    position: fixed;
    top: 6px;
    left: 771px; 
    z-index: 999;
   

}

table{
    border: 1px solid;
    width: 400px;
    height: 100px;
    margin-left: 17px;
}

table th,
table td {
 
  border: 1px solid #2a2a2a;
  padding: 12px;
}

table td{
    padding: 6px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
   
    align-items: center;

    color: #000000;
}

table td span{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #8C8C8C; 

}

caption{
   
    padding: 0 0 20px 0;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

span.orange{
display: inline-block; 
text-align: center;

width: 36px;   
height: 16px;   
    
font-family: 'Roboto';
font-style: normal;
/* font-weight: normal; */
font-size: 12px;
line-height: 14px;
/* identical to box height */
/* display: flex;
align-items: center;
text-align: center; */
text-transform: uppercase;
box-sizing: border-box;
padding: 2px;
border-radius: 2px;

color: #FFFFFF;
background-color: #FF6B01;
}

.vote_box{
    display: inline-block;
}

.table_cell{
    /* background-color: rgb(210, 154, 85); */
    width: 150px;
}

.arange_button{
    width: 136px;
    height: 44px;
    left: 648px;
    top: 553px;
    background-color: #FF6B01;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.white_button{
    width: 136px;
    height: 44px;
    left: 648px;
    top: 553px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

/* .row__padding{
    padding-top: 15px;
    background-color: aqua;
} */

img.img_modal{
    height: 478px;
    width: 342px;
    border-radius: 5px;

    /* background-image: url("../img/sprite.png"); */
}
