   iframe.iframe{
    height: 100%;
    width: 100%;
    }


@media only screen and (min-width: 320px) {

    .picture{
    width: 232px;
    height: 333px;
    overflow: hidden;
    }  

 
    table div.description{
    max-height: 200px;
    overflow-y: auto;
    }


    div.modal{
    box-sizing: border-box;
    width: 280px;
    height: 940px;
    padding: 40px 10px 37px 16px;
    background-color: rgb(207, 207, 207);
    position: fixed;
    top: 00px;
    left: 00px; 
    z-index: 999; 

    display: flex;
    flex-direction: column;
    border-radius: 3px;

    opacity: 0;
    transition: opacity 1s ease-out;
   
}

    div.modal img[alt="No image"]{
    width: 264px;
    height: 373px;
    
 }

    .table_cell{
    width:32%;
    }
    .table_two{
    width: auto;
    }


    img.img_modal{
    width: 240px;
    height: 357px;
    border-radius: 5px;
}
    caption{
    padding: 15px 0;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    table{
    width: 250px;
    height: auto;
    border: 0;
}


    button.white_button{
    margin-left: 10px;
}

    button.white_button,
    button.arange_button{
   
    width: 110px;
    height: 44px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    border: 1px solid #000000;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    
}

    button.white_button:hover,
    button.arange_button:hover{
    background-color: #FF6B01;
    color: #fff;
}

    div.cross{
    cursor: pointer;
    position: fixed;
    top: 4px;
    left: 246px; 
    z-index: 999;
}


                         /*320*/  }


                         
@media only screen and (min-width: 768px) {

   .picture{
    width: 264px;
    height: 373px;
    }  

    div.modal{
    width: 704px;
    height: 552px;
    flex-direction: row;
    padding: 30px 57px;
    }

    img.img_modal{
    width: 264px;
    height: 373px;
}

table{
   
    width: 264px;
    height: 370px;
    margin-left: 29px;
  
}
caption{
    padding: 0  0 14px;
}
button.arange_button
{
    width: 125px;
    height: 44px;
    left: 0px;
    top: -10px;
}

button.white_button{
    width: 125px;
    height: 44px;
    left: 12px;
    top: -18px;
}
div.cross{
    cursor: pointer;
    position: fixed;
    top: 6px;
    left: 668px; 
    z-index: 999;
}       

td.two_buttons{
    position: absolute;
    
}

                      /*768*/}



@media only screen and (min-width: 1280px) {
    .picture{
    width: 295px;
    height: 420px;
    }  
   
    div.modal{
   
    width: 806px;
    height: 558px;
    padding: 37px 10px 37px 55px;
   
    position: fixed;
    top: 40px;
    left: 40px; 
    z-index: 999; 

    flex-direction: row;
    
}
    img.img_modal{
    height: 478px;
    width: 342px;
}
    .table_cell{
    width: 150px;
}
    caption{
    padding: 0 0 20px 0;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    table{
    width: 400px;
    height: 100px;
    margin-left: 28px;
}
    button.arange_button{
    width: 136px;
    height: 44px;
    left:-1px;
    top: 2px;
   
}

    button.white_button{
    width: 136px;
    height: 44px;
    left:6px;
    top:-6px;
}

    div.cross{
    cursor: pointer;
    position: fixed;
    top: 44px;
    left: 811px; 
    z-index: 999;
}

    table div.description{
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;

}


                        /*1280*/} 


    .backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 54, 113, 0.649);
    position: fixed;
    top: 00px;
    left: 00px; 
   }

    table td{
    padding: 6px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
   
    align-items: center;

    color: #000000;
    vertical-align: top;
   }

    table td span{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C; 

}

    span.orange{
    display: inline-block; 
    text-align: center;

    width: 36px;   
    height: 16px;   
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 2px;

    color: #FFFFFF;
    background-color: #FF6B01;
    }


    div.modal_opas{
    opacity: 1;
    }

    div.dark{
    background-color: #494949;
    }

    div.light{
    background-color: #dcdbdb;
    }
    button.dark{
    background-color: #6d6c6c;
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    }
 
 

 
 