
#tui-pagination-container{
    border: 2px dashed rgb(255, 247, 0);
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.button_orange{
    margin: 5px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    color: #fff;
  
    border-radius: 5px;
    margin-left: 0;
    padding: 9px 0;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #ff6b08;
    border-color: #ff6b08;
   
}

.buttons_other{
    margin: 5px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    color: #fff;
  
    border-radius: 5px;
    margin-left: 0;
    padding: 9px 0;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #2f313a;
    border-color: #3a392f;
   
}

.arrow{
   margin: 5px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    color: #fff;
  
    border-radius: 5px;
    margin-left: 0;
    padding: 9px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #777777;
    border-color: #2f313a;
}

.dots{
   
    margin: 5px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    color: #fff;
  
    border-radius: 5px;
    margin-left: 0;
    padding: 9px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: #2f313a;
    border-color: #2f313a;
}