/* .container_switch{
  margin: 0 auto;
  height: 25px;
  background-color: rgb(255, 170, 0);
  padding: 0;

 
} */


.switch_box{
  background-color: rgb(21, 255, 0);
  width: 99% ;
  height: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.switch{
 
   
    background-color: rgb(255, 55, 0);
    
        
}

input[type="checkbox"]{
    position: relative;
    width: 70px;
    height: 30px;
    appearance: none; 
    background-color: #9e9e9e;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input[type="checkbox"]:checked{
    background: #FF6B08;
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    top: 3px;
    left: 4px;
    background: #fefefe;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    /* border: 1px solid red; */
}

input:checked[type="checkbox"]:before{
    left: 40px;
}




@media only screen and (min-width: 320px) {
  .switch{
    padding: 1px 0;
   
 }
}

@media only screen and (min-width: 768px) {
  .switch{
    padding: 1px 0;
    
    
    
 }
}

@media only screen and (min-width: 1280px) {
  .switch{
   padding: 1px 0;
   
 }
} 